<div class="row">
  <div class="col-lg-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title text-primary mb-5">Total Amount Due</h2>
        <div class="wrapper">
          <div class="d-flex justify-content-between">
            <p class="display-3 mb-4 font-weight-light">${{ (payment | async).amount * 1.5 }}</p>
          </div>
          <a *ngIf="(payment | async).status !== 3" [href]="(payment | async).btcAddress" target="_blank" class="btn btn-outline-success btn-lg btn-block btn-icon">
            <i class="mdi mdi-currency-btc"></i>
            Click To Pay
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
