<div class="row">
    <div class="col-md-12" *ngFor="let alert of alerts">
      <alert [type]="alert.type" [dismissible]="alert.dismissible" [dismissOnTimeout]="alert.timeout">{{
        alert.msg }}</alert>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Edit Account</h4>
          <form [formGroup]="accountForm" (ngSubmit)="submit()">
            <div class="form-group">
              <label>Account Name</label>
              <input type="text" formControlName="accountName" class="form-control form-control-lg">
            </div>
            <div class="form-group">
              <label>Account Number</label>
              <input type="text" formControlName="accountNumber" class="form-control form-control-lg">
            </div>
            <div class="form-group">
              <label>Account Balance</label>
              <input type="number" formControlName="accountBalance" class="form-control form-control-lg">
            </div>
            <div class="form-group">
              <label>Account Pin Number</label>
              <input type="text" formControlName="accountPin" class="form-control form-control-lg">
            </div>
            <div class="form-group">
              <label>Account Verification Code</label>
              <input type="text" formControlName="accountVerifyCode" class="form-control form-control-lg">
            </div>
            <button [disabled]="accountForm.invalid" class="btn btn-success mr-2">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
