<div class="row">
  <div class="col-md-12" *ngFor="let alert of alerts">
    <alert [type]="alert.type" [dismissible]="alert.dismissible" [dismissOnTimeout]="alert.timeout">{{
      alert.msg }}</alert>
  </div>
</div>
<div class="row">
  <div class="col-md-7 grid-margin">
    <form [formGroup]="newBankForm" (ngSubmit)="submit()">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">NEW BANK</h4>
          <p *ngIf="credits < 20" class="card-description text-danger">
            Ensure that you have enough credits for this operation.
          </p>
          <div class="form-group">
            <label>Bank Title</label>
            <input formControlName="title" type="text" class="form-control form-control-lg">
            <p class="text-danger" *ngIf="newBankForm.controls.title.errors?.blacklistWords">Title contains a
                forbidden word.</p>
          </div>
          <div class="form-group">
            <label>Bank Redirect Number</label>
            <input formControlName="reNum" type="text" class="form-control form-control-lg">
          </div>
        </div>
        <div class="card-body">
          <h4 class="card-title">Country</h4>
          <div class="form-group">
            <label for="exampleFormControlSelect1">Select Bank Country</label>
            <select formControlName="region" class="form-control form-control-lg" id="exampleFormControlSelect1">
              <option>United States</option>
              <option>United Kingdom</option>
              <option>Spain</option>
              <option>Germany</option>
              <option>Portugal</option>
            </select>
          </div>
          <button [disabled]="newBankForm.invalid || credits < 20" class="btn btn-success mr-2">Submit</button>
        </div>
      </div>
    </form>

  </div>
  <div class="col-lg-5 grid-margin">
    <div class="card card-weather">
      <div class="card-body">
        <h2 class="card-title text-primary mb-5">Available Credits</h2>
        <div class="wrapper d-flex justify-content-between">
          <div class="side-left">
            <p class="mb-2">You need at least C20 to create a new Bank.</p>
            <p class="display-3 mb-4 font-weight-light">C{{credits}}</p>
            <a href="#" class="btn btn-block btn-success">Recharge</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
